.message {
  color: green;
  border: 2px solid green;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
}

.error {
  color: red;
  border: 2px solid red;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
}

.no_message {
   visibility: hidden;
  border: 2px solid orange;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
}