
.message {
  color: green;
  border: 2px solid green;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
}

.error {
  color: red;
  border: 2px solid red;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
}

.no_message {
  visibility: hidden;
  border: 2px solid orange;
  border-radius: 10px;
  background-color: #eee;
  padding: 10px;
}

.likedBtn {
  background-color: '#F0F8FF';
  color: '#00008B';
  font-weight: 700;
  border: '1px solid #F0F8FF';
  font-size: '20px';
  border-radius: '10px';
}

.likeBtn {
  background-color: '#00008B';
  color: '#F0F8FF';
  font-weight: 700;
  border: '1px solid #F0F8FF';
  font-size: '20px';
  border-radius: '10px';
}

.navbar {
  display: flex;
  background-color: #eee;
}

.navbar div {
  margin: auto 20px;
}

.navbar .link a {
 text-decoration: none;
 font-size: 20px;
 font-weight: 700;
}

.navbar .link a:hover {
 color: orangered;
 }

.navbar .navbar_log  {
  display: flex;
}

.navbar .navbar_log  button{
  margin-left: 10px;
  padding: 15px;
  font-size: 20px;
  background-color: forestgreen;
  color: white;
  border: 1px solid forestgreen;
  border-radius: 20px;
  cursor: pointer;
}

.navbar .navbar_log  button:hover{
  background-color: yellowgreen;
  color: white;
  border: 1px solid yellowgreen;
  border-radius: 20px;
}

.user_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 10px 0 auto 10px;
}

.user_table td, .user_table th{
  border: 1px solid #ddd;
  padding: 8px;
}
/*home */


.home .blogList div{
  padding: 10px;
  border: 1px solid;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}